@use "styles/index" as *;

.auth {
  font-family: "Roboto", sans-serif;
  background-color: $neutral-400;
  height: 100vh;
  overflow: hidden;

  &-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../../assets/images/login_page\(2\).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__login,
    &__signup {
      background-color: $white;
      box-shadow: $shadow-m;
      width: 400px;
      z-index: 2;
      padding: 50px 35px;
      border-radius: 10px;

      img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
      }

      h1 {
        color: $neutral-900;
        margin: 30px 0 18px 0;
        font-size: 20px;
      }

      .login-nav {
        color: $info-500;

        & > div {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .login-options {
        &__text {
          position: relative;

          span {
            font-size: 14px;
            color: $neutral-400;
            letter-spacing: 1px;
            z-index: 0;
            background-color: $white;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background: $neutral-500;
            z-index: -1;
          }
        }

        &__list {
          .option-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 48%;
            border-radius: 4px;
            padding: 10px 15px;
            cursor: pointer;

            svg {
              width: 24px;
            }

            &:hover {
              span {
                color: $white;
              }
            }

            &__google {
              border: 1px solid $danger-400;

              span {
                color: $danger-400;
              }

              svg {
                fill: $danger-400;
              }

              &:hover {
                background-color: $danger-400;

                svg {
                  fill: $white;
                }
              }
            }

            &__facebook {
              border: 1px solid $info-650;

              span {
                color: $info-650;
              }

              svg {
                fill: $info-650;
              }

              &:hover {
                background-color: $info-650;

                svg {
                  fill: $white;
                }
              }
            }
          }
        }
      }
    }

    &__signup {
      .signup-nav {
        span {
          color: $info-700;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
