@use "styles/index" as *;

.header {
  padding: 16px 30px;
  box-shadow: $shadow-xs;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: $z-index-header;

  @include tablet {
    padding: 8px 14px 8px 28px;
  }

  .MuiBreadcrumbs-separator {
    font-size: 20px;
    font-family: "epilogue", sans-serif;
    color: $neutral-500;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
    color: $neutral-500;
    text-transform: capitalize;

    &.header-active {
      color: $neutral-900;
    }
  }

  &-collapse {
    cursor: pointer;

    .hamburger-react {
      color: $info-700;
    }
  }
}
