@use "styles/index" as *;

.wasvalidated {
  .cinput {
    &-valid {
      .MuiInputBase-input,
      .MuiInputBase-multiline {
        border: 1px solid $success-500;
        border-radius: 4px;
      }

      fieldset,
      textarea {
        border: none !important;
      }
    }

    &-invalid {
      .MuiInputBase-input,
      .MuiInputBase-multiline {
        border: 1px solid $danger-500;
        border-radius: 4px;
      }

      fieldset,
      textarea {
        border: none !important;
      }
    }
  }

  .form-helper-text {
    display: inline-block;
    color: $danger-500;
    font-size: 13px;
    position: absolute;
    bottom: -25px;
    left: 0;
  }
}
